<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-theme.min.css" rel="stylesheet" >
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/bootstrap-social.css" rel="stylesheet">
        <link href="css/mystyles.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <title>Alfa Student</title>
    </head>
    
    <body onResize="resizeWindow()" ng-app="searchPage" ng-controller="searchPageCtrl">
        <div ng-include="'navbarTemplate.html'"></div>
        <div class="row myli">
            <div class="col-xs-12 col-sm-2" id="filter">
                <b style="font-size:19px;" id="filterHead">Filters</b>
                <hr style="margin-top:-1px">
                <span id="pick" style="padding-left:10%;font-weight:600">PICK A CATEGORY</span>
                <br>
                <br>
                <div id="cat1" style="padding-left:10%">
                    <i class="fa fa-chevron-left" aria-hidden="true" id="flag11"></i><i class="fa fa-chevron-down" aria-hidden="true" id="flag12"></i> <b style="font-size:15px">Books</b>
                </div>
                <div id="subcat1"><ul style="list-style:none;padding-top:2%"><li>Mathematics</li><li>Physics</li><li>Chemistry</li><li>Biology</li></ul></div>
                <div id="cat2" style="padding-left:10%;padding-top:4%">
                    <i class="fa fa-chevron-left" aria-hidden="true" id="flag21"></i><i class="fa fa-chevron-down" aria-hidden="true" id="flag22"></i> <b style="font-size:15px">Educational Toys</b>
                </div>
                <div id="subcat2"><ul style="list-style:none;padding-top:2%"><li>Counting Games</li><li>Science Games</li><li>Chemistry Kit</li></ul></div>
                 <div id="cat3" style="padding-left:10%;padding-top:4%">
                    <i class="fa fa-chevron-left" aria-hidden="true" id="flag31"></i><i class="fa fa-chevron-down" aria-hidden="true" id="flag32"></i> <b style="font-size:15px">Furniture</b>
                </div>
                <div id="subcat3"><ul style="list-style:none;padding-top:2%"><li>Study Table</li><li>Bookshelves</li><li>Table Lamp</li><li>Chairs</li></ul></div>
                 <div id="cat4" style="padding-left:10%;padding-top:4%">
                    <i class="fa fa-chevron-left" aria-hidden="true" id="flag41"></i><i class="fa fa-chevron-down" aria-hidden="true" id="flag42"></i> <b style="font-size:15px">School &amp; College Bags</b>
                </div>
                <div id="subcat4"><ul style="list-style:none;padding-top:2%"><li>School Bags</li><li>College Bags</li><li>Casual bags</li><li>Laptop bags</li></ul></div>
                 <div id="cat5" style="padding-left:10%;padding-top:4%">
                    <i class="fa fa-chevron-left" aria-hidden="true" id="flag51"></i><i class="fa fa-chevron-down" aria-hidden="true" id="flag52"></i> <b style="font-size:15px">School Uniform</b>
                </div>
                <div id="subcat5"><ul style="list-style:none;padding-top:2%"><li>Sports Uniform</li><li>Daily Uniform</li></ul></div>
                 <div id="cat6" style="padding-left:10%;padding-top:4%">
                    <i class="fa fa-chevron-left" aria-hidden="true" id="flag61"></i><i class="fa fa-chevron-down" aria-hidden="true" id="flag62"></i> <b style="font-size:15px">Sports Accessories</b>
                </div>
                <div id="subcat6"><ul style="list-style:none;padding-top:2%"><li>Cricket Kit</li><li>Basketball</li><li>Volleyball Net</li><li>Badminton Rackets</li></ul></div>
                 <div id="cat7" style="padding-left:10%;padding-top:4%">
                    <i class="fa fa-chevron-left" aria-hidden="true" id="flag71"></i><i class="fa fa-chevron-down" aria-hidden="true" id="flag72"></i> <b style="font-size:15px">Stationery Products</b>
                </div>
                <div id="subcat7"><ul style="list-style:none;padding-top:2%"><li>Pen &amp; Pencils</li><li>Ruler</li><li>Crayons</li><li>Markers</li><li>Paper Clips</li></ul></div>
            </div>
            
            <div class="col-xs-12 col-sm-10">
                <div id="sort">
                <b style="font-size:15px;">Sort By</b><span style="font-family:Arial;padding:0px 12px 0px 12px" id="relevance" ng-click="orderByMe('popularity')">Relevance</span><span id="popularity" style="font-family:Arial;padding:0px 12px 0px 0px" ng-click="orderByMe('popularity')">Popularity</span><span id="pricel2h" style="font-family:Arial;padding:0px 12px 0px 0px" ng-click="orderByMe('discPrice')">Price - Low to High</span><span id="priceh2l" style="font-family:Arial;" ng-click="orderByMe('-discPrice')">Price - High to Low</span>
                </div>
                <hr style="margin-top:4px">
                <div class="row" style="text-align:center">
                    <span style="font-size:18px;font-weight:600;" id="searchRange">Showing 1 - 25 of 450 results of "Searched word goes here"</span>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-4 col-sm-3" ng-repeat="x in result | orderBy:myOrderBy">
                        <img src="{{ x.img }}" class="img-responsive image2 highlight">
                        <div class="row" style="padding-left:30%">
                            {{x.proName}}<br>
                        </div>
                        <div class="row" style="padding-left:36%;padding-top:2%">
                            <span class="label label-success" style="padding:5px;"><span style="font-size:15px">{{x.rating}}  </span><i id="star1" class="fa fa-star" aria-hidden="true"></i></span>
                        </div>
                        <div class="row" style="padding-left:21%;padding-top:3%">
                            <span style="font-size:16px;font-weight:600"><i class="fa fa-inr" aria-hidden="true"></i> {{x.discPrice}} </span><strike style="color:grey">{{x.orgPrice}}</strike> <span style="color:#388e3c;font-size:12px">  {{ x.disc}}% off</span>
                        </div>
                        <div class="row" style="padding-left:15%">
                            <span style="color:#5089e5;font-weight:700">See Similar Products <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <a href="#one"><button style="width:100%;padding:5px 0px 5px 0px"><b>Back to Top</b></button></a>
            </div>
        </div>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
         <!--Include all compiled plugins (below), or include individual files as needed-->
            
        <script>
            $(document).ready(function() {
                if ($(window).width() >= 960) {
                    //$('#div1').addClass('col-md-2');
                    //$('#div2').addClass('navbar-right');
                    $("#li1").addClass('col-md-push-3');
                    $("#signinCart").addClass('col-md-push-4');
                    $('#signin').addClass('col-md-push-6');
                    $('#signin').css("margin-top","-40px");
                    $("#category1").css("margin-left","60px");
                    $("#category2").css("padding-left","50px");
                    $("#filterHead").css("padding-left","10%");
                    $("#sort").css("margin-left","50%");
                    $(".image2").css("max-height","220px");
                    $("#category3").css("padding-left","50px");
                    $("#category4").css("padding-left","50px");
                    $("#category5").css("padding-left","50px");
                    $("#category6").css("padding-left","50px");
                    $("#category7").css("padding-left","50px");
                }
                else if($(window).width() >= 768){
                    $('#div1').addClass('col-sm-12');
                    $('#div1').css("padding-left","22px");
                    $('#div2').addClass('navbar-left col-sm-pull-5');
                    $('#signin').addClass('col-sm-2');
                    $('#user').hide();
                    $("#li1").addClass('col-sm-12');
                    $("#signin").addClass('col-sm-2');
                    $("#category1").css("margin-left","20px");
                    $("#category2").css("padding-left","50px");
                    $("#filterHead").css("padding-left","10%");
                    $("#category3").css("padding-left","50px");
                    $("#category4").css("padding-left","50px");
                    $("#category5").css("padding-left","50px");
                    $("#category6").css("padding-left","50px");
                    $("#category7").css("padding-left","50px");
                }
                else
                {
                    $("#filterHead").css("padding-left","35%");
                    $("#filter").append("<br><br>");
                    $("#searchRange").css("font-size","15px");
                }
                // Subcategories hidden at the start
                $("#subcat1").hide();
                $("#subcat2").hide();
                $("#subcat3").hide();
                $("#subcat4").hide();
                $("#subcat5").hide();
                $("#subcat6").hide();
                $("#subcat7").hide();
                // Down chevron hidden
                $("#flag12").hide();
                $("#flag22").hide();
                $("#flag32").hide();
                $("#flag42").hide();
                $("#flag52").hide();
                $("#flag62").hide();
                $("#flag72").hide();
                // li element
                $(".myli li").css("padding","2% 0 2% 0");
                // sort section styling
                $("#relevance").click(function(){
                    $("#relevance").css("color","#5089e5");
                    $("#relevance").css("font-weight","bold");
                    $("#popularity").css("font-weight","normal");
                    $("#pricel2h").css("font-weight","normal");
                    $("#priceh2l").css("font-weight","normal");
                    $("#popularity").css("color","black");
                    $("#pricel2h").css("color","black");
                    $("#priceh2l").css("color","black");
                });
                $("#popularity").click(function(){
                    $("#popularity").css("color","#5089e5");
                    $("#popularity").css("font-weight","bold");
                    $("#relevance").css("font-weight","normal");
                    $("#pricel2h").css("font-weight","normal");
                    $("#priceh2l").css("font-weight","normal");
                    $("#relevance").css("color","black");
                    $("#pricel2h").css("color","black");
                    $("#priceh2l").css("color","black");
                });
                $("#pricel2h").click(function(){
                    $("#pricel2h").css("color","#5089e5");
                    $("#pricel2h").css("font-weight","bold");
                    $("#relevance").css("font-weight","normal");
                    $("#popularity").css("font-weight","normal");
                    $("#priceh2l").css("font-weight","normal");
                    $("#popularity").css("color","black");
                    $("#relevance").css("color","black");
                    $("#priceh2l").css("color","black");
                });
                $("#priceh2l").click(function(){
                    $("#priceh2l").css("color","#5089e5");
                    $("#priceh2l").css("font-weight","bold");
                    $("#relevance").css("font-weight","normal");
                    $("#popularity").css("font-weight","normal");
                    $("#pricel2h").css("font-weight","normal");
                    $("#popularity").css("color","black");
                    $("#pricel2h").css("color","black");
                    $("#relevance").css("color","black");
                    $("#signinCart").css("padding-left","30px");
                });
                // subcategories toggle
                $( "#cat1" ).click(function() {     
                    if($('#subcat1:visible').length)
                    {
                        $('#subcat1').hide();
                        $('#flag12').hide();
                        $('#flag11').show();
                    }
                    else
                    {
                        $('#subcat1').show();       
                        $('#flag11').hide();
                        $('#flag12').show();
                    }
                });
                $( "#cat2" ).click(function() {     
                    if($('#subcat2:visible').length)
                    {
                        $('#subcat2').hide();
                        $('#flag22').hide();
                        $('#flag21').show();
                    }
                    else
                    {
                        $('#subcat2').show();       
                        $('#flag21').hide();
                        $('#flag22').show();
                    }
                });
                $( "#cat3" ).click(function() {     
                    if($('#subcat3:visible').length)
                    {
                        $('#subcat3').hide();
                        $('#flag32').hide();
                        $('#flag31').show();
                    }
                    else
                    {
                        $('#subcat3').show();       
                        $('#flag31').hide();
                        $('#flag32').show();
                    }
                });
                $( "#cat4" ).click(function() {     
                    if($('#subcat4:visible').length)
                    {
                        $('#subcat4').hide();
                        $('#flag42').hide();
                        $('#flag41').show();
                    }
                    else
                    {
                        $('#subcat4').show();       
                        $('#flag41').hide();
                        $('#flag42').show();
                    }
                });
                $( "#cat5" ).click(function() {     
                    if($('#subcat5:visible').length)
                    {
                        $('#subcat5').hide();
                        $('#flag52').hide();
                        $('#flag51').show();
                    }
                    else
                    {
                        $('#subcat5').show();       
                        $('#flag51').hide();
                        $('#flag52').show();
                    }
                });
                $( "#cat6" ).click(function() {     
                    if($('#subcat6:visible').length)
                    {
                        $('#subcat6').hide();
                        $('#flag62').hide();
                        $('#flag61').show();
                    }
                    else
                    {
                        $('#subcat6').show();       
                        $('#flag61').hide();
                        $('#flag62').show();
                    }
                });
                $( "#cat7" ).click(function() {     
                    if($('#subcat7:visible').length)
                    {
                        $('#subcat7').hide();
                        $('#flag72').hide();
                        $('#flag71').show();
                    }
                    else
                    {
                        $('#subcat7').show();       
                        $('#flag71').hide();y
                        $('#flag72').show();
                    }
                });
                
                $('.highlight').mouseover(function(e){
                    $(".hova").removeClass("hova");     
                    $(e.target).addClass("hova");
                  return false;
                }).mouseout(function(e) {
                    $(this).removeClass("hova");
                });
                
                $('#cartBtn').click(function(){
                   window.location.href='cart.html';
                });
            });
            
            
        
        </script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/navbarJQuery.js"></script>
        <script>
            
                var app = angular.module('searchPage',[]);
                app.controller('searchPageCtrl',function($scope, $rootScope, $timeout){
                    $scope.result = [
                       {proName:'F Gear Axe 1',discPrice:599,orgPrice:2499,category:'Bags',subcategory:'CollegeBags',popularity:5,rating:"4.1",disc:"76",img:"img/bag1.jpg"},
                       {proName:'F Gear Axe 2',discPrice:828,orgPrice:2299,category:'Bags',subcategory:'SchoolBags',popularity:12,rating:"4.1",disc:"63",img:"img/bag2.jpg"},
                       {proName:'F Gear Axe 3',discPrice:1721,orgPrice:3449,category:'Bags',subcategory:'CasualBags',popularity:3,rating:"4.1",disc:"50",img:"img/bag3.jpg"},
                       {proName:'F Gear Axe 4',discPrice:473,orgPrice:1050,category:'Bags',subcategory:'LaptopBags',popularity:50,rating:"4.1",disc:"54",img:"img/bag4.jpg"}
                       ];     
                     $scope.orderByMe = function(x) {
                        $scope.myOrderBy = x;
                    }
                     $rootScope.$on('$includeContentLoaded', function() {
                    $timeout(function(){
                         load();
                    });
                  });
                    });
                 
        </script>
    </body>
</html>